* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #1a1a1a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px;
}

nav h1 {
  font-family: Georgia, serif;
  font-size: 34px;
  font-weight: normal;
}

nav ul {
  display: flex;
  gap: 36px;
  list-style: none;
}

nav ul li {
  font-size: 18px;
  cursor: pointer;
  color : #1a1a1a;
}

nav ul li:hover {
  color: #e05c4b;
  text-underline-offset: 6px;

}

.heading, .credentials {
  text-align: center;
}

h2 {
  font-family: Libre Baskerville, serif;
  font-size: 60px;
  font-weight: normal;
  line-height: 1.2;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;

}

p {
  font-size: 15 px;
  color: #888;
}

.Orange {
  color: #e05c4b;
  text-decoration: underline;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}


.main h3{
  margin-bottom : 20px; 
  margin-top: 20px;
}
img{
  height: 600px;
  width : 800px;
  margin-top : 10px;
  
}

.main p {

  margin-bottom: 20px;
  margin-top: 20px;
  color :#1a1a1a
}

h4{
  margin-top: 20px;
}

.main ul {
  margin-top: 20px;
}

.main ul :hover {
  color :#1a1a1a;  
}

.contents {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  margin-right: auto;
  margin-left: auto;
  padding-left: 150px;
  padding-right : auto;
}

h3 {
font-size: 25px;  
font-weight: normal;
}

.contents ul{
  list-style: none;
  margin-top: 20px;
  max-width: 200px;
}

.contents li {
  margin-top: 10px;
  white-space: nowrap;
}
.underline {
  font-display: underline;
   text-underline-offset: 3px;
}

.container a{
  color: #e05c4b;
   margin-bottom:20px;
}

li {
    white-space: nowrap;
}

.Credentials a {
   color: #e05c4b;
}

.Credentials {
text-underline-offset: 3px;

}

.Nav-NavBar li a { 
  color : #1a1a1a;
  text-decoration: none;
  position: relative;

  transition: 
  color 0.3s ease,
    transform 0.3s ease;
  display: inline-block;

}
.Nav-NavBar li a::after {
  content: "";
  position: absolute;

  left: 50%;
  bottom: -6px;

  transform: translateX(-50%);

  width: 0%;
  height: 2px;

  background-color: #e05c4b;

  transition: width 0.5s ease;
}

.Nav-NavBar li a:hover::after {
  width: 100%;
}
.Nav-NavBar li a:hover {
  color:#e05c4b;
    transform: translateY(-3px);
}

.Nav-NavBar {
  position: sticky;
  top :0;
  background-color: #fafafa;
}

 .container .bigbutton {
  background-color: #1a1a1a;
  color: #fafafa;
  padding: 17px;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.5s ease,
  transform 0.3s ease;
  display: inline-block;
  margin-top: 10px;
}
.container .bigbutton:hover {
  background-color: #e05c4b;
  transform: translateY(-3px);
}

 .container .bigbutton1 {
  background-color: #1a1a1a;
  color: #fafafa;
  padding: 17px;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.5s ease,
  transform 0.3s ease;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.container .bigbutton1:hover {
  background-color: #e05c4b;
transform: scale(1.05);
}

.container .bigbutton2:hover {
  background-color: #e05c4b;


  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

 .container .bigbutton2 {
  background-color: #1a1a1a;
  color: #fafafa;
  padding: 17px;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.5s ease,
  transform 0.3s ease;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.container .bigbutton3 {
  background-color: #1a1a1a;
  color: #fafafa;
  padding: 17px;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.5s ease,
  transform 0.5s ease;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.container .bigbutton3:active {
  transform: translateY(10px) scale(1);
}
.container .bigbutton3:hover {
  background-color: #e05c4b;
}
